@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Roboto&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(42, 170, 42);

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: .5s;
    z-index: 3;
}
@media (max-width: 600px){
    nav.menu-lateral{
        width: 0;
        padding: 0;
        z-index: 2;
    }
    /* Quando o checkbox estiver marcado, mostrar a sidebar expandida */
    #toggle-sidebar:checked ~ nav.menu-lateral {
        width: 200px;
        padding: 40px 0 40px 1%;
    }

    ul{
        height: 100%;
        list-style-type: none;
        margin-left: -13px;
        padding-top: 60px;
    }

}
@media (min-width: 600px){
    #toggle-sidebar:checked ~ nav.menu-lateral {
       display: none;
    }
}

nav.menu-lateral.expandir{
    width: 300px;
}
@media (max-width: 600px){
    nav.menu-lateral.expandir{
        width: 200px;
    }
   
}


.btn-expandir{
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 1000;
    background-color: #00BF63;
    padding: 5px;
    cursor: pointer;
    
}

.btn-expandir >i{
    color: #000000;
    font-size: 30px;
    
}

@media (min-width: 600px){
    .btn-expandir >i{
        color: #ffffff;
        
    }
    .btn-expandir{
        background-color: #202020;
        
    }
   
}

.Ideau {
    width: 100%;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 500px;
    position: absolute;
    
}

ul{
    height: 100%;
    list-style-type: none;
    padding-top: 70px;
}

ul li.item-menu{
    transition: .1s;
}

ul li.ativo{
    background-color: rgb(22, 141, 22);
}

ul li.item-menu:hover{
    background: rgb(49, 48, 48);
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon >i{
    font-size: 30px;
    margin-left: 10px;
}
/*teste*/

.menu{

    position:relative;
    width:280px;
    height:280px;
    display: flex; 
    align-items: center; 
    justify-content:center; 
    }
    
    .menu .toggle{
        position:relative;
        height: 60px;
        width:60px;
        background:#fff; 
        border-radius:50%; 
        display: flex; 
        justify-content:center; 
        color:#333; 
        font-size:2rem; 
        cursor:pointer; 
        transition:1.25s;
        align-items: center;
        z-index:5;
    
    }
    
    .menu.active .toggle {
    
        transform: rotate(360deg); 
        box-shadow: 0 0 0 2px #333,
    }