<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container-custom {
            max-width: 30%;
            background-color: #00bf63;
        }
        
        /* Responsividade para telas menores */
        @media (max-width: 600px) {
            .container-custom {
                max-width: 100%;
            }
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center vh-100" style="background-color: #1d2129;">

    <div class="container container-custom p-4 rounded shadow-sm">
        <h1 class="text-center mb-4" style="font-size: 30px; color: #ffffff;">Cadastrar Novo Usuário</h1>
        
        <form action="/api/admin/cadastrarUsuario" method="post">
            <!-- Campos do formulário -->
            <div class="form-group">
                <label for="username" style="font-size: 20px;font-weight: bold; color: #ffffff;">Nome do usuário:</label>
                <input type="text" id="username" name="username" class="form-control" required style="border-radius: 5px;">
            </div>
            
            <div class="form-group">
                <label for="password" style="font-size: 20px;font-weight: bold; color: #ffffff;">Senha:</label>
                <input type="password" id="password" name="password" class="form-control" required style="border-radius: 5px;">
            </div>
            
            <div class="form-group">
                <label for="role" style="font-size: 20px;font-weight: bold; color: #ffffff;">Tipo de acesso:</label>
                <select id="role" name="role" class="form-control" style="border-radius: 5px;">
                    <option value="USER">User</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>

            <button type="submit" class="btn btn-light btn-block" style="border-radius: 5px; font-weight: bold;">Cadastrar</button>
        </form>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
